<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="flash">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="register-container">
        <h1 class="login-title">ALL AI</h1>
        
        <form class="register-form" method="POST">
            {{ form.hidden_tag() }}

            <!-- email field-->
            {{ form.email.label }}
            {{ form.email() }}<br>

            <!-- password field-->
            {{ form.password.label }}
            {{ form.password() }}<br>

            <!-- confirm password field-->
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }} <br>

            <!-- status field-->
            {{ form.status.label }}
            {{ form.status() }} <br>

            {{ form.submit() }}
        </form>

        <p class="login-text">
            Already have an account?
            <a href="{{ url_for('get_login') }}">Login here</a>
        </p>
    </div>
</body>
